{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_quantity_container %}
    <div class="col-4 col-sm-4 col-md-3 col-lg-3">
        {% if showQuantitySelect %}
            {% set selectQuantityThreshold = 100 %}

            {% block buy_widget_buy_quantity %}
                {{ parent() }}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}

{% block buy_widget_buy_button_container %}
    <div class="{% if showQuantitySelect %}col-8 col-sm-8 col-md-4 col-lg-6{% else %}col-12{% endif %} btn-buy-col">
        {% block buy_widget_buy_button %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
