{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_quantity_container %}
    {% if showQuantitySelect %}
        <div class="col-12 col-md-3">
            {% set selectQuantityThreshold = 100 %}

            {% block buy_widget_buy_quantity_input_group %}
                {{ parent() }}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block buy_widget_buy_button_container %}
    <div class="{% if showQuantitySelect %}col-12 col-md-4 col-lg{% else %}col-12{% endif %} btn-buy-col">
        {% block buy_widget_buy_button %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
