{# SwagElleTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/page/product-detail/description.html.twig' %}

{% block utilities_offcanvas_header %}
 <div class="offcanvas-header offcanvas-header-description p-0">
     {{ block('utilities_offcanvas_close') }}
 </div>
{% endblock %}
