{% sw_extends '@Storefront/storefront/page/product-detail/headline.html.twig' %}

{% block page_product_detail_headline_inner %}
    <div class="row">
        {% block page_product_detail_name_container %}
            {{ parent() }}
        {% endblock %}

        {% block page_product_detail_manufacturer %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
