{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery_inner_control_prev_icon %}
    {% sw_icon 'chevron-left' style { 'pack': 'feather', 'size': 'lg' } %}
{% endblock %}

{% block element_image_gallery_inner_control_next_icon %}
    {% sw_icon 'chevron-right' style { 'pack': 'feather', 'size': 'lg' } %}
{% endblock %}

{% block element_image_gallery_inner_single %}
    <div class="gallery-slider-single-image is-{{ displayMode }} js-magnifier-container"{% if minHeight %} style="min-height: {{ minHeight }} !important;"{% endif %}>
        {% if imageCount > 0 %}
            {% set attributes = {
                'class': 'img-fluid gallery-slider-image magnifier-image js-magnifier-image',
                'alt': (mediaItems|first.translated.alt ?: fallbackImageTitle),
                'title': (mediaItems|first.translated.title ?: fallbackImageTitle),
                'data-full-image': mediaItems|first.url
            } %}

            {% if displayMode == 'cover' or displayMode == 'contain' %}
                {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
            {% endif %}

            {% if isProduct %}
                {% set attributes = attributes|merge({ 'itemprop': 'image' }) %}
            {% endif %}

            {% sw_thumbnails 'gallery-slider-image-thumbnails' with {
                media: mediaItems|first,
            } %}
        {% else %}
            {% sw_icon 'placeholder' style {
                'size': 'fluid'
            } %}
        {% endif %}
    </div>
{% endblock %}

{% block element_image_gallery_inner_item %}
    <div class="gallery-slider-item-container">
        <div class="gallery-slider-item is-{{ displayMode }} js-magnifier-container"{% if minHeight and  (displayMode == "cover" or displayMode == "contain" ) %} style="min-height: {{ minHeight }} !important;"{% endif %}>
            {% set attributes = {
                'class': 'img-fluid gallery-slider-image magnifier-image js-magnifier-image',
                'alt': (image.translated.alt ?: fallbackImageTitle),
                'title': (image.translated.title ?: fallbackImageTitle),
                'data-full-image': image.url
            } %}

            {% if displayMode == 'cover' or displayMode == 'contain' %}
                {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
            {% endif %}

            {% if isProduct %}
                {% set attributes = attributes|merge({ 'itemprop': 'image' }) %}
            {% endif %}

            {% sw_thumbnails 'gallery-slider-image-thumbnails' with {
                media: image
            } %}
        </div>
    </div>
{% endblock %}
