.btn,
.btn-buy {
    &.disabled,
    &:disabled {
        color: $disabled-btn-color;

        .icon {
            color: $disabled-btn-color;
        }
    }
}

.btn {
    .icon-feather {
        > svg {
            top: 6px;
        }
    }
}

.btn-primary:not(.btn-buy) {
    @include button-variant($primary, $primary);
}

.btn-square {
    width: $input-height;
    padding: unset;
}

.btn-light {
    background-color: $gray-200;

    &:hover,
    &:focus {
        background-color: $gray-200;
        border-color: $gray-200;
    }
}

.btn-buy {
    &:hover,
    &:focus {
        color: $buy-btn-color;
    }
}
