.category-navigation {
    &.level-0 > {
        .category-navigation-entry {
            border-bottom: none;
        }
    }
    &.level-2 {
        li {
            border-left: 1px solid $gray-400;
        }
    }
}

.category-navigation-link {
    padding: 8px 16px;
}
