.is-offcanvas {
    .line-item {
        &-info {
            .line-item-row {
                flex-wrap: nowrap;
            }
        }

        &-details {
            flex-shrink: 1;
            min-width: 0;
        }

        &-quantity-price {
            order: 3;
            display: flex;
            padding-right: $cart-grid-gutter-width / 2;
            padding-left: $cart-grid-gutter-width / 2;
            margin-left: auto;
            align-items: center;
            gap: 10px;
            width: calc(100% - 70px);
            justify-content: space-between;

            .line-item-quantity-row {
                margin-bottom: 0;
            }

            .line-item-total-price {
                width: auto;
            }
        }

        &-total-price {
            flex-grow: 1;
            align-self: center;
        }

        &-quantity {
            width: auto;
            margin-bottom: 0;

            &-row {
                margin-bottom: 0;
            }

            &-select-wrapper {
                padding: 0;
            }
        }

        &-price {
            width: auto;
        }

        &-children[class*='nesting-level-'] {
            .line-item-quantity-price {
                margin: 0;
                width: 100%;
            }

            .line-item-quantity,
            .line-item-quantity-row {
                margin-bottom: 0;
            }
        }

        &-unit-price {
            order: 5;
        }

        &-row > {
            .line-item-quantity {
                padding-left: 82px;
            }
        }
    }

    .quantity-selector-group-input {
        max-width: 40px;
        min-width: 40px;
    }
}

.line-item {
    &-img {
        border: 0;
    }

    &-icon {
        border: $border-width solid $border-color;
    }

    &-quantity-row {
        text-align: left;
        --bs-gutter-x: 4px;
        --bs-gutter-y: 4px;

        .line-item-quantity-container {
            margin-left: 0;
        }
    }

    &-remove:empty {
        display: none;
    }

    &-tax-price,
    &-unit-price {
        font-size: $h6-font-size;
        font-style: normal;
        order: 4;
    }

    &-total-price-label,
    &-tax-price-label,
    &-unit-price-label {
        display: inline-block;
        margin-right: auto;
        color: $gray-800;
        font-weight: $font-weight-bold;
    }

    &-quantity-label {
        margin-bottom: 0;
    }
}

.js-offcanvas-cart-change-quantity {
    min-width: 90px;
}

.offcanvas.cart-offcanvas {
    .line-item-quantity-select-wrapper {
        margin-top: 0;
    }
}

@include media-breakpoint-up(sm) {
    .line-item {
        .line-item-tax-price,
        .line-item-unit-price,
        .line-item-total-price,
        .line-item-total-price-value {
            text-align: left;
        }
    }

    *:not(.cart-offcanvas) {
        .swag-customized-products__line-item-quantity .line-item-quantity {
            @include make-col(4);
        }
    }

    .no-remove-button {
        .line-item-quantity-row {
            margin: 0;
        }
    }
}

@include media-breakpoint-up(md) {
    .line-item-quantity-select-wrapper {
        .line-item-quantity {
            width: 100%;
        }
    }

    .card-body {
        .line-item-children[class*='nesting-level-'] {
            .line-item-info {
                width: calc(41.66666667% - 55px);
            }

            .line-item-quantity {
                width: calc(16.66666667% + 25px);
            }

            .line-item-unit-price {
                width: calc(16.66666667% + 15px);
            }

            .line-item-total-price {
                width: calc(16.66666667% + 15px);
            }
        }

        @include media-breakpoint-up(lg) {
            .line-item-children.nesting-level-1 {
                margin-left: 96px;
            }
        }
    }

    .is-order,
    .is-act-finishpage {
        .line-item-info {
            @extend .col-md-6;
        }
    }


    .line-item-remove {
        order: 5;

        .is-offcanvas & {
            order: 2;
        }
    }

    .line-item {
        .line-item-tax-price,
        .line-item-unit-price,
        .line-item-total-price,
        .line-item-total-price-value {
            text-align: right;
        }
    }
}
