$modal-max-width: 800px;

.modal {

    @include media-breakpoint-up(sm) {
        .modal-dialog {
            max-width: $modal-max-width;
        }
    }

    &-content {
        border: 1px solid $border-color;
        border-radius: 3px;
    }

    &-header {
        padding: 20px;
        border-bottom: unset;

        .close {
            position: absolute;
            right: 16px;
            margin: -10px 0 0;
            padding: 0;
            color: $body-color;
            opacity: unset;
            background: none;

            &:hover {
                color: $body-color;
            }

            svg {
                top: 15px;
                right: 15px;
            }
        }
    }

    &-body {
        padding: 20px;
    }

    &.swag-cms-extensions-quickview-modal {
        .modal-dialog {
            max-width: $modal-xl;
        }
    }
}

#b2bModal {
    .modal-dialog {
        max-width: 1300px;
    }

    .modal-header {
        justify-content: flex-start;
        border-bottom: none;

        .js--modal__title,
        .tab--header {
            span {
                font-weight: $font-weight-bold;
            }

        }

        .close {
            margin-top: 10px;
        }
    }

    .b2b--grid-container {
        .b2b-table__actions {
            @extend .px-3;
        }

        &.m-n4 {
            .b2b-table {
                margin: 0;
            }
        }
    }

    .inner--content {
        .icon {
            width: 16px;
            height: 16px;
            margin-right: 6px;
        }

        select {
            @extend .form-select;
        }
    }

    .b2b--modal-content {
        max-height: none;

        .b2b--modal-content {
            margin: 0;

            .js--modal__content {
                width: 100%;
            }
        }
    }

    .b2b-table {
        margin: 0 -24px;

        table {
            margin: 0;
        }

        thead,
        tbody {
            tr th,
            tr td {
                &:first-child {
                    padding-left: 24px;
                }

                &:last-child {
                    padding-right: 24px;
                }
            }
        }
    }
}
