.offcanvas {
    .offcanvas-close {
        background-color: $gray-200;
        border: none;
        color: $gray-900;

        @if (not feature('V6_5_0_0')) {
            .icon-feather > svg {
                top: 0;
            }
        }
    }

    &.is-right {
        .offcanvas-close {
            display: flex;
            gap: 4px;

            .icon > svg {
                top: -1px;
            }
        }
    }

    &.offcanvas-bottom {
        top: auto;
    }

    &-header-review,
    &-header-description {
        .offcanvas-close {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;

            .icon svg {
                top: 0;
            }
        }
    }
}
