.pagination {
    margin-top: 10px;

    @include media-breakpoint-down(sm) {
        justify-content: center;
        padding: 5px;
    }

    .page-item {
        .page-link {
            background: none;
            border: 0;
            padding: 8px 5px;
        }

        &.disabled {
            .page-link {
                background: none;
                border: 0;

                .icon-feather {
                    color: $gray-500;
                }
            }

            a {
                color: $gray-900;
            }
        }

        &.active {
            .page-link {
                color: $gray-900;
                vertical-align: middle;
                line-height: 24px;
                font-size: $font-size-base;
                font-weight: $font-weight-semibold;
                padding: 8px 30px;
            }
        }

        &.not-active {
            .page-link {
                display: none;
            }
        }
    }
}

.b2b--component-pagination {
    .btn {
        background-color: transparent;
        border: 0;

        .icon-feather > svg {
            top: 3px;
        }
    }

    .btn-primary {
        color: $gray-900;
    }
}
