.product-image-wrapper {
  height: $custom-box-standard-height-img;
  margin-bottom: 0;
  overflow: hidden;
}

.product-image {
  max-height: $custom-box-image-height-img;
}

.product-box {
  border: none;

  .card-body {
    padding: 0;
  }

  .product-info {
    padding: 17px;
  }

  .product-rating {
    margin: 0 0 12px 0;
    height: 20px;
  }

  .product-name {
    // code to have text ellipsis on 2 lines
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    height: 44px;
  }

  &.box-image {
    .product-image-wrapper {
      height: $custom-box-image-height-img;
    }

    .product-image {
      max-height: $custom-box-image-height-img;
    }

    .product-info {
      padding: 0 30px 30px 30px;
    }
  }
}

.product-wishlist {
    @extend .mt-0;
}