{# SwagElleTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefont/storefront/component/review/review.html.twig' %}

 {% block utilities_offcanvas_header %}
     <div class="offcanvas-header offcanvas-header-review p-0">
         {{ block('utilities_offcanvas_close') }}
     </div>
 {% endblock %}
