{% sw_extends '@Storefront/storefront/page/checkout/checkout-aside-item.html.twig' %}

{% block page_checkout_aside_item_title %}
    <div class="checkout-aside-item-title">
        {% if lineItem.quantity %}
            {{ lineItem.quantity }}{{ "checkout.quantityTimes"|trans|sw_sanitize }}
        {% endif %}

        {{ lineItem.label|u.truncate(60) }}
    </div>
{% endblock %}

{% block page_checkout_aside_item_quantity %}
    {# Removed quantity here #}
{% endblock %}
