{# @deprecated tag:v6.5.0 - Template `checkout-aside-item.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}
{% sw_extends '@Storefront/storefront/page/checkout/checkout-aside-item.html.twig' %}

{% block page_checkout_aside_item_title %}
    <div class="checkout-aside-item-title">
        {% if lineItem.quantity %}
            {{ lineItem.quantity }}{{ "checkout.quantityTimes"|trans|sw_sanitize }}
        {% endif %}

        {{ lineItem.label|u.truncate(60)|raw }}
    </div>
{% endblock %}

{% block page_checkout_aside_item_quantity %}
    {# Removed quantity here #}
{% endblock %}
