{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_quantity_container %}
    <div class="col-3 col-sm-2">
        {% block page_product_detail_buy_quantity %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_product_detail_buy_button_container %}
    <div class="col-auto">
        {% block page_product_detail_buy_button %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% set hasRequiredField = false %}
{% block swag_customized_products_option_type_template %}
    {{ parent() }}

    {% if option.required == true %}
        {% set hasRequiredField = true %}
    {% endif %}

    {% set lastOption = customizedProductsTemplate.options|last %}

    {% if lastOption.id == option.id and hasRequiredField == true %}
        <div class="form-row swag-customized-products-option swag-customized-products__item">
            <span class="swag-customized-products-option__required-field-label">
                {{ "customizedProducts.requiredField"|trans|sw_sanitize }}
            </span>
        </div>
    {% endif %}
{% endblock %}
