$footer-bg-color: $sw-footer-bg-color !default;
$footer-color: $sw-footer-text-color !default;
// TODO: use admin variables
$footer-border-color: #202020 !default;
$footer-bottom-color: $gray-700 !default;
