{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

{% block page_account_order_item_detail_image %}
    <div class="col-12 col-md-auto order-item order-item-image">
        {% block page_account_order_item_detail_image_value %}
           {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_account_order_item_detail_name %}
    <div class="col-12 col-md order-item order-item-name">
        {% block page_account_order_item_detail_name_value %}
            {{ parent() }}
        {% endblock %}

        {% block page_account_order_item_detail_variants %}
            {{ parent() }}
        {% endblock %}

        {% block page_account_order_item_detail_unitprice %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
