{% sw_extends '@Storefront/storefront/page/account/address.html.twig' %}

{% block page_account_overview_billing_address_actions %}
    <div class="card-actions">
        {% set addressEditorOptions = {
            changeBilling: true,
        } %}

        {{ block('page_account_overview_billing_address_actions_link') }}
    </div>
{% endblock %}
