.footer-main {
  border-top: none;
  background-color: $footer-bg-color;

  &, a, a:hover {
    color: $footer-color;
  }

  @include media-breakpoint-up(md) {
    padding-top: 60px;
  }
}

.footer-columns {
  border-bottom: none;

  @include media-breakpoint-down(sm) {
    padding-top: 20px;
  }
}

.footer-column {
    @include media-breakpoint-down(sm) {
      border-bottom: 1px solid $footer-border-color;
    }
}

.footer-column-toggle {
  .icon-feather {
    color: $footer-color;
  }
}

.footer-logo-row {
  @include media-breakpoint-up(md) {
    margin-bottom: 22px;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.footer-column-hotline {
  text-align: right;

  @include media-breakpoint-down(sm) {
    text-align: left;
  }

  @include media-breakpoint-only(md) {
    padding-left: 0;
  }
}

.footer-contact-hotline {
  margin-bottom: 0;

  a {
    font-size: 20px;
    font-weight: $font-weight-bold;
    margin-top: 0;

    @include media-breakpoint-only(md) {
      font-size: $font-size-base;
    }
  }
}

.footer-contact-form {
  text-decoration: underline;
    @include media-breakpoint-down(sm) {
        padding-bottom: 26px;
    }
}

.footer-column-headline {
  color: $footer-color;
  font-weight: $font-weight-semibold;
  align-items: center;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.footer-column-newsletter {
  @include media-breakpoint-only(md) {
    padding-left: 0;
  }
}

.footer-newsletter-form {
  .input-group {
    .form-control {
      border-right: none;
    }

    .btn {
      border-left: none;
    }

    .form-control,
    .btn {
      background: none;
      border-color: $footer-color;

      &, .icon-feather {
        color: $footer-color;
      }

      @include hover-focus {
        background: none;
      }
    }
  }

  .confirm-message {
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    text-align: left;
  }

  .confirm-message,
  .confirm-alert {
    padding: 0;
  }
}

.footer-bottom {
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(md) {
    border-top: 1px solid $footer-border-color;
  }
}

.footer-service-menu-list {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.footer-vat {
  text-align: left;

  p {
    margin-bottom: 0;
  }
}

.footer-copyright {
  text-align: right;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.footer-vat,
.footer-copyright {
  font-size: $font-size-sm;
  color: $footer-bottom-color;
}
