.top-bar {
  background-color: $footer-bg-color;
  color: $footer-color;

  .top-bar-nav-btn {

    &,
    &:hover,
    .icon,
    .icon-feather {
      color: $footer-color;
    }
  }

  .top-bar-nav-btn.btn:hover {
    .icon {
      color: $footer-color;
    }
  }

  .dropdown.show {
    .top-bar-nav-btn,
    .icon {
      color: $footer-color;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .top-bar-dropdown-icon {
    display: inline-block;

    .icon-feather {
      padding-top: 6px;
    }
  }

  .top-bar-nav-btn {
    display: inherit;
    line-height: 22px;
  }

  .top-bar-menu {
    .icon-feather-help-circle {
      margin: 2px;
    }

    .top-bar-nav-text {
      line-height: 26px;
    }
  }
}

.top-bar-nav {
  display: block;

  .col,
  .col-auto {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.top-bar-language {
  .top-bar-nav-text {
    display: none;
  }
}
