{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_add_product_submit %}
    {% if feature('V6_5_0_0') %}
        <button class="btn btn-secondary btn-square"
                type="submit"
                id="addProductButton">
            {% sw_icon 'check' style {'pack': 'feather'} %}
        </button>
    {% else %}
        <div class="input-group-append">
            <button class="btn btn-secondary btn-square"
                    type="submit"
                    id="addProductButton">
                {% sw_icon 'check' style {'pack': 'feather'} %}
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block page_checkout_cart_shipping_costs_trigger %}
    <a class="btn btn-light cart-shipping-costs-btn"
       {{ dataBsToggleAttr }}="collapse"
       href="#collapseShippingCost"
       role="button"
       aria-expanded="false"
       aria-controls="collapseExample">
        {{ "checkout.shippingCosts"|trans|sw_sanitize }}
        {% block page_checkout_cart_shipping_costs_trigger_icon %}
            {# Removed the icon #}
        {% endblock %}
    </a>
{% endblock %}

{% block page_checkout_cart_add_promotion_submit %}
    {% if feature('V6_5_0_0') %}
        <button class="btn btn-secondary btn-square"
                type="submit"
                id="addPromotion">
            {% sw_icon 'check' style {'pack': 'feather'} %}
        </button>
    {% else %}
        <div class="input-group-append">
            <button class="btn btn-secondary btn-square"
                    type="submit"
                    id="addPromotion">
                {% sw_icon 'check' style {'pack': 'feather'} %}
            </button>
        </div>
    {% endif %}
{% endblock %}
