// custom control styles for checkbox/radio
.custom-control.custom-checkbox,
.custom-control.custom-radio {
  .custom-control-label {
    &::before,
    &::after {
      top: 0;
    }
  }
}

// custom control styles for switches
.custom-switch {
  .custom-control-label {
    &::before {
      background-color: $gray-400;
    }

    &::after {
      background-color: $white;
      top: 6px;
      left: -29px;
    }
  }
}

.custom-select {
  line-height: 1.7;
}

@include media-breakpoint-up(lg) {
  .custom-switch {
    .custom-control-label {
      &::after {
        top: 5px;
      }
    }
  }
}
