// use custom icon class instead of standard icon class
// feather icons don't need "fill: currentColor"
.icon-feather {
  @include sw-icon-size($icon-base-size);
  overflow: visible;
  color: $icon-base-color;
  display: flex;

  > svg {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

// Icon Sizes
// -------------------------

.icon-fluid {
  @include sw-icon-size(100%);
}

.icon-lg {
  @include sw-icon-size($icon-base-size / 3 * 4);
}

// 33% bigger icon
.icon-sm {
  @include sw-icon-size($icon-base-size * 0.875);
}

.icon-xs {
  @include sw-icon-size($icon-base-size * 0.75);
}
