.offcanvas {
  .offcanvas-close {
    background: $gray-300;
    color: $gray-900;

    .icon-feather {
      & > svg {
        top: 0;
      }
    }
  }

  &.is-right {
    .offcanvas-close {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;

      .icon-feather {
        & > svg {
          top: -2px;
        }
      }
    }
  }
}
