.product-image-wrapper {
  margin-bottom: 0;
  overflow: hidden;
}

.product-box {
  border: none;

  .card-body {
    padding: 0;
  }

  .product-info {
    padding: 17px;
  }

  &.box-image {
    .product-info {
      padding: 0 30px 30px 30px;
    }
  }
}
