{% sw_extends '@Storefront/storefront/section/quickview/component.html.twig' %}

{% block page_content_section_quickview %}
    {% set quickview = false %}


    {% set arrowHeadLeft %}
        {% sw_icon 'chevron-left' style { 'pack': 'feather', 'size' : 'fluid' } %}
    {% endset %}

    {% set arrowHeadRight %}
        {% sw_icon 'chevron-right' style { 'pack': 'feather', 'size' : 'fluid' } %}
    {% endset %}

    {% for block in section.blocks %}
        {% if block.extensions.swagCmsExtensionsQuickview is not null and block.extensions.swagCmsExtensionsQuickview.active %}
            {% set quickview = true %}
        {% endif %}
    {% endfor %}

    {% block page_content_section_quickview_modal %}
        {% if quickview %}
            <div class="d-none"
                 data-swag-cms-extensions-quickview="true"
                 data-swag-cms-extensions-quickview-options='{
                    "sectionId": "{{ section.id }}",
                    "arrowHeadLeft": "{{ arrowHeadLeft | e('js') }}",
                    "arrowHeadRight": "{{ arrowHeadRight | e('js') }}"
                 }'>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

