{% sw_extends '@Storefront/storefront/page/account/index.html.twig' %}

{% block page_account_overview_welcome %}
    <div class="account-welcome">
        <h2>{{ "account.overviewTitle"|trans|sw_sanitize }}</h2>
        {% block page_account_overview_welcome_intro %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
