{% sw_extends '@Storefront/storefront/page/product-detail/review/review-widget.html.twig' %}

{% block page_product_detail_review_filter_checkbox_label %}
    <label class="custom-control-label text-nowrap"
           for="reviewRating{{ matrix.points }}">
        {{ "detail.review#{matrix.points}PointRatingText"|trans|sw_sanitize }} ({{ matrix.count }})
    </label>
{% endblock %}

{% block page_product_detail_review_filter_progressbar %}{% endblock %}
