.swag-customized-products-cart__title-toggle {
  padding-right: 0;
  padding-left: 0;
}

.swag-customized-products-cart__configuration {
  padding: 0;
}

.swag-customized-products-cart__name,
.swag-customized-products-cart__item-title .swag-customized-products-cart__price-tag {
  font-weight: $font-weight-semibold;
}

.swag-customized-products-cart__item-content {
  font-size: $h6-font-size;
}

.swag-customized-products-cart__items {
  margin: 0 10px;
}

.swag-customized-products-cart__item {
  margin: 0;
}

.swag-customized-products-cart__title-toggle {
  margin-bottom: 0;
}

.swag-customized-products-cart__list {
  margin-bottom: 10px;
}
