{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address_login_toggle %}
    <div class="register-login-collapse-toogle">
        {% sw_icon 'user' style { 'pack': 'feather' } %}
        {{ "checkout.addressAlreadyHaveAccount"|trans|sw_sanitize }}
        <a href="#loginCollapse"
           class="login-collapse-toggle"
           data-toggle="collapse"
           aria-expanded="false">
            <strong>{{ "checkout.addressLoginToggle"|trans|sw_sanitize }}</strong>
        </a>
    </div>
{% endblock %}
