.product-detail-configurator-option-input {
    // disabled variant styles
    + .product-detail-configurator-option-label {
        border: 1px dashed $gray-400;
        color: $gray-500;
        background: $gray-100;
        font-weight: $font-weight-bold;
        opacity: 1;

        &:hover,
        &:active,
        &:focus {
            border: 1px dashed $gray-400;
            color: $gray-500;
            background: $gray-100;
            font-weight: $font-weight-bold;
        }

        &.is-display-dropdown {
            height: 40px;
            min-width: 40px;
        }

        &.is-display-color {
            height: auto;
            margin-bottom: 8px;
            padding: 10px;

            &[style] {
                padding: 2px;
                height: 40px;
                min-width: 40px;
                border-radius: 50%;
                display: inline-block;
                box-shadow: inset 0 0 0 4px $gray-100;
                background: $gray-300;
                filter: saturate(0);
                opacity: 0.4;
                border: 1px dashed $gray-500;
            }
        }

        &.is-display-media {
            padding: 2px;
            height: 40px;
            min-width: 40px;
            width: 40px;
            object-fit: cover;
            // @deprecated tag:v6.5.0 - Bootstrap v5 will discontinue IE11 support. font-family polyfill will be removed.
            /* stylelint-disable-next-line */
            font-family: 'object-fit: cover;'; // IE polyfill

            img {
                opacity: 0.23;
            }
        }

        &.is-display-text {
            padding: 10px 10px 7px;
            min-width: 40px;
        }
    }

    // available variant styles
    &.is-combinable + .product-detail-configurator-option-label {
        border: 1px solid $gray-400;
        color: $gray-900;
        background: $white;

        &:hover,
        &:active,
        &:focus {
            border: 1px solid $gray-900;
            color: $gray-900;
            font-weight: $font-weight-bold;
        }

        &.is-display-color {
            filter: none;
            box-shadow: inset 0 0 0 4px $white;
            opacity: 1;
        }

        &.is-display-media {
            img {
                opacity: 1;
            }
        }
    }

    // checked variant styles
    &:checked + .product-detail-configurator-option-label {
        border: 1px solid $gray-900;

        &.is-display-color {
            filter: none;
            box-shadow: inset 0 0 0 4px $white;
        }

        &.is-display-media {
            img {
                opacity: 1;
            }
        }

        &.is-display-text {
            background: $white;
            font-weight: $font-weight-bold;
            color: $gray-900;
        }
    }
}

.product-detail-configurator-option-image {
    height: 34px;
    width: 34px;
    padding: 2px;
    object-fit: cover;
    // @deprecated tag:v6.5.0 - Bootstrap v5 will discontinue IE11 support. font-family polyfill will be removed.
    /* stylelint-disable-next-line */
    font-family: 'object-fit: cover;'; // IE polyfill
}
