.product-detail-review-widget {
  hr {
    display: none;
  }
}

.review-filter-form {
  padding-bottom: 20px;
}

.product-detail-review-list-content {
  padding-top: 40px;
}

.product-detail-review-list {
  hr {
    display: none;
  }
}

.product-detail-review-item {
  border-bottom: 0;
}

.product-detail-review-rating {
  .h6 {
    font-weight: $font-weight-base;
  }
}

.product-detail-review-item-date {
  text-align: right;
}

.product-detail-review-sortby {
  .custom-select {
    font-size: $font-size-sm;
  }
}

// change font-size in the small tag
// of the review filter language to 100%
label[for="showForeignReviews"] {
  small {
    font-size: 100%;
  }
}

@include media-breakpoint-up(md) {
  .product-detail-review-item-title {
    padding-left: 20px;
  }
}

@include media-breakpoint-down(sm) {
  .product-detail-review-main {
    padding-right: 40px;
  }
}
