.cart-item-children {
    padding: 14px 4px 14px 16px;
    .cart-item-headline {
        display: flex;
        align-items: center;
    }

    @include media-breakpoint-up(md) {
        margin-left: 88px;
    }
}
