.is-act-cartpage {
    .checkout {
        .checkout-container {
            > .checkout-aside {
                @extend .col-xl-4;
                @extend .col-lg-4;
                @extend .col-md-6;
                @extend .offset-md-6;

                @include media-breakpoint-up(xl) {
                    margin-left: 0;
                }

                @include media-breakpoint-up(lg) {
                    margin-left: 0;
                    padding-top: 60px;
                }
            }
        }
    }
}

.is-act-confirmpage,
.is-act-finishpage,
.is-act-cartpage {
    @include media-breakpoint-down(if(feature('V6_5_0_0'), md, sm)) {
        .cart-item {
            .cart-item-details {
                padding-top: 20px;
            }
        }
    }
}

.cart-table-header {
    padding-bottom: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid $border-color;
}

.cart-table-header,
.cart-item-total-price {
    font-weight: $font-weight-semibold;
}

.cart-add-product {
    max-width: none;
}

.cart-add-product-container {
    @extend .col-md-6;

    @if (feature('V6_5_0_0')) {
        .btn {
            @extend .btn-square;
        }
    } @else {
        .input-group-append .btn {
            @extend .btn-square;
        }
    }

    .icon-feather-check {
        color: $gray-100;
    }
}

.cart-shipping-costs-btn {
    @if (feature('V6_5_0_0')) {
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
        line-height: $btn-line-height;
    } @else {
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    }

    width: 100%;
    margin-bottom: 20px;

    @include media-breakpoint-down(if(feature('V6_5_0_0'), md, sm)) {
        display: block;
    }
}

.checkout-main {
    .cart-shipping-costs-container {
        @extend .col-md-6;
    }
}
